{% extends 'base.html' %}

{% block content %}
   
<div class="container">
    <!-- Header -->
    <header class="row mt-5 pt-5">
        <div class="col-12 col-md-6 my-auto">
            <h1 class="my-3">Create your own databases of all the game consoles you have owned.</h1>
            <h2 class="my-3">Share it with your friends!</h2>
            <div>
                <button class="btn btn-dark p-3 m-2">View Our Docs</button>
                <button class="btn btn-dark p-3 m-2">Join Our Discord</button>
            </div>
        </div>
        <div class="col-12 col-md-6 px-5">
            <img src="../../static/images/undraw_gaming_6oy3.svg" alt="" class="header-image img-fluid">
        </div>
    </header>
    <!-- End Header -->

    <!-- Middle Section -->

    <section class="row">
        <div class="col-12 col-md-6 mx-auto text-center middle-section mb-5">
            <h2 class="display-5 py-3">Display Your Collection</h2>
            <p class="display-6 py-3">Harness the power of an API to expand your collection.</p>
        </div>
    </section>

    <!-- End Middle Section -->

    <!-- Features Section -->

    <section>
        <div class="feature col-12 col-md-6 text-center mx-auto my-5 py-3">
            <img src="../../static/images/undraw_share_link_qtxe.svg" 
            alt="Share link image" class="col-8 my-5">
            <h3 class="fs-2 fw-bolder">Share</h3>
            <p class="fs-4 my-2">Easily share your collection with friends.</p>
        </div>

        <div class="feature col-12 col-md-6 text-center mx-auto my-5 py-3">
            <img src="../../static/images/undraw_video_game_night_8h8m.svg" 
            alt="Share link image" class="col-8 my-5">
            <h3 class="fs-2 fw-bolder">Discuss</h3>
            <p class="fs-4 my-2">Join our Discord channel to discuss 
                video game consoles with fellow enthusiasts.</p>
        </div>
        
        <div class="feature col-12 col-md-6 text-center mx-auto my-5 py-3">
            <img src="../../static/images/undraw_All_the_data_re_hh4w.svg" 
            alt="Share link image" class="col-8 my-5">
            <h3 class="fs-2 fw-bolder">Compare Stats</h3>
            <p class="fs-4 my-2">Compare stats with other users. Find out 
                how you stack up.
            </p>
        </div>
    </section>

    <!-- End Feature Section -->

    <hr class="mt-5"/>

    <!-- Footer -->
    <div class="col-12 text-center my-5">
        <button class="btn btn-warning footer-btn m-4">Donate</button>
        <button class="btn footer-sign-up footer-btn m-4">Sign Up</button>
    </div>

</div>

{% endblock content %}