<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Game Console Inventory</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="gc-nav d-flex align-items-center text-white py-3 justify-content-between">
        <div class="logo-container d-flex align-items-center ms-3">
            <img src="../static/images/game-controller.svg" alt="Game Controller Logo" 
            class="mx-3">
            <h3 class="ms-3">Game.Console.DB</h3>
        </div>
        <div class="d-flex align-items-center me-5">
            <ul id="nav-list" class="d-flex align-items-center">
                <a href="">
                    <li>Donate</li>
                </a>
                <a href="">
                    <li>Profile</li>
                </a>
                <a href="">
                    <li>Log Out</li>
                </a>
                <a href="{{ url_for('auth.signin') }}">
                    <li>Log In</li>
                </a>
                <a href="{{ url_for('auth.signup') }}">
                    <li>Sign Up</li>
                </a>
            </ul>
        </div>
    </nav>
    <!-- End of Nav -->
    {% block content %}
    {% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>

</html>